{% extends "layout.html" %}

{% block title %}Artworks{% endblock %}

{% block main %}
 <!-- Zoekbalk -->
 <form method="POST" action="{{ url_for('art') }}" class="search-form">
    <input type="text" name="query" placeholder="Search for art..." value="{{ query }}" required>
    <button type="submit">Search</button>
</form>


<div class="art-gallery">
    {% for artwork in artworks %}
    <div class="art-card">
        <img src="{{ artwork.image_url }}" alt="{{ artwork.title }}" onerror="this.src='https://via.placeholder.com/300';">
        <h3>{{ artwork.title }}</h3>
        <p><strong>Kunstenaar:</strong> {{ artwork.artist }}</p>
        <a href="{{ artwork.info_url }}" target="_blank">Bekijk meer</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
