{% extends "layout.html" %}

{% block title %}Favorites - Photos{% endblock %}

{% block main %}
<h1>Favorite photos</h1>
<div class="art-gallery">
    {% if saved_images %}
        {% for image in saved_images %}
        <div class="art-card">
            <img src="{{ image.url }}" alt="Saved Image">
            <p>{{ image.description }}</p>
            <form method="POST" action="{{ url_for('delete_item', item_type='photo') }}">
                <input type="hidden" name="item_id" value="{{ image.id }}">
                <button type="submit">Delete</button>
            </form>            
        </div>
        {% endfor %}
    {% else %}
        <p>No saved photos yet.</p>
    {% endif %}
</div>
{% endblock %}
