{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="fullscreen-gallery">
    {% if images %}
        <button class="nav-btn left-btn" onclick="changeImage(-1)">&#10094;</button>
        <img id="current-image" src="{{ images[0].url }}" alt="Unsplash Image">
        <button class="nav-btn right-btn" onclick="changeImage(1)">&#10095;</button>
    {% else %}
        <p>No images available at the moment. Please try again later.</p>
    {% endif %}
</div>

<script>
    let images = {{ images|tojson }};
    let currentIndex = 0;

    function changeImage(direction) {
        if (images.length > 0) {
            currentIndex = (currentIndex + direction + images.length) % images.length;
            document.getElementById('current-image').src = images[currentIndex].url;
        }
    }
</script>
{% endblock %}
