{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="scrolling-grid">
    {% for image in images %}
    <div class="image-container-index">
        <img src="{{ image.url }}" alt="Unsplash Image">
    </div>
    {% endfor %}
    <!-- Dupliceer de afbeeldingen voor een oneindige loop -->
    {% for image in images %}
    <div class="image-container">
        <img src="{{ image.url }}" alt="Unsplash Image">
    </div>
    {% endfor %}
</div>

{% endblock %}
