<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Website{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='image.png') }}" alt="Concept Logo" class="logo">
                </a>
            </div>
            <nav class="navbar">
                <div class="search-bar">
                    <form method="GET" action="{{ url_for('index') }}">
                        <input type="text" name="query" placeholder="Search for images" value="{{ request.args.get('query', '') }}">
                        <select name="category">
                            <option value="interior" {% if category == 'interior' %}selected{% endif %}>Interior</option>
                            <option value="nature" {% if category == 'nature' %}selected{% endif %}>Nature</option>
                            <option value="art" {% if category == 'art' %}selected{% endif %}>Art</option>
                            <!-- Voeg meer categorieën toe -->
                        </select>
                        <button type="submit">Search</button>
                    </form>
                </div>
                <ul class="nav-links">
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('favorites') }}">Favorites</a></li>
                    {% if not session.get("user_id") %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
